.register-box {
    text-align: left;
}
.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.register-form input {
    height: 2rem;    
    border: 1px solid #BDBDBD;
    margin: .35rem 0;
    border-radius: 8px;
}
.submit-btn {
    background: #2F80ED;
    border-radius: 8px;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 600;
    text-align: center; 
}
.register-title {
    font-family: Noto Sans;
    font-size: 1.2rem;
    font-weight: 600;
}
.register-description {
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
}