.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  width: 80%;
  box-sizing: border-box;
  overflow: hidden;
}
#top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-top: 0rem;
}
.loading-dots {
  margin: auto;
  width: 10rem;
  margin-top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .App{
      width: 100%;
  }
}
