#user-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2rem;
}
#user-actions .username {
    margin-left: .5rem;
}
#user-actions img {
    border-radius: 5px;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
}
@media only screen and (max-width: 425px) {
    #user-actions {
        max-width: 50%;
    }
    #user-actions .username {
        text-align: center;
        font-size: .8rem;
    }
}

 @media (prefers-color-scheme: dark) {
     #user-actions .username {
        color: rgba(250,250,251);
     }
 }