#user-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2rem;
}
#user-actions .username {
    margin-left: .2rem;
}
#user-actions img {
    border-radius: 5px;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
}