@keyframes unfoldDown {
    0% {
        transform: scaleY(.2) translateY(-100%);
    }
    100% {
        transform: scaleY(1) translateY(0%);
    }
}
#dropdown-box {
    position: absolute;
    top: 3rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: .5rem;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,.15);
    border-radius: 12px;
    animation: .2s ease-out unfoldDown;    
}
#toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
}
#dropdown-box button {
    display: flex;
    align-items: center;
    width: 10rem;
    border: none;
    background: none;
    border-radius: 8px;
    cursor: pointer;
}
#dropdown-box button:hover {
    background-color: #F2F2F2;
}
#dropdown-box button:active {
    background: none;
}
#dropdown-box button p {
    margin-left: .5rem;
}
.logout-btn {
    color: rgb(235,87,87);
}
.option-btn {
    color: #4F4F4F;
}
.divider {
    margin: .2rem 0;
    border-top: 1px solid #E0E0E0;
}

@media (prefers-color-scheme: dark) {
    #toggle-btn{
        color: rgba(250,250,251);
    }
    #dropdown-box {
        box-shadow: 1px 2px 5px 1px rgba(0,0, 0, 0.7);
    }
}