.auth-box {
    margin: auto;
    width: 25%;
    border: 1px solid #BDBDBD;
    border-radius: 24px;
    padding: 2.5rem 3.5rem;
    display: flex;
    flex-direction: column;
}
.logo {
    height: 1rem;
}
.you-new {
    font-family: Noto Sans;
    font-size: .85rem;
    font-weight: 400;
    text-align: center;
    color: #828282;
}
.you-new button {
    border: none;
    background-color: transparent;
    font-family: Noto Sans;
    font-size: .85rem;
    font-weight: 400;
    color: blue;
    cursor: pointer;
}
.you-new button:hover {
    text-decoration: underline;
}
.you-new button:active {
    color: purple;
}