.profile-main {
    margin: auto;
    font-family: Noto Sans;
}
.profile-main-head {
    text-align: center;
    margin-top: .8rem;
}
.profile-main-head h1{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}
.profile-main-head p{
    font-weight: 300;
    font-size: 1.1rem;
}
.profile-box {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    margin-top: 1rem;
}
.profile-head-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}
.profile-head-box div {
    text-align: left;
}
.profile-head-box h2 {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
}
.profile-head-box p {
    font-weight: 500;
    font-size: .8rem;
    color: rgb(130,130,130);
}
.profile-head-box button {
    font-weight: 500;
    font-size: 1rem;
    color: rgb(130,130,130);
    background-color: transparent;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 1rem 2rem;
    cursor: pointer;
}
.profile-head-box button:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
}
.profile-head-box button:active {
    box-shadow: none;
    background-color: rgba(130,130,130,.5);
    color: white;
}
.profile-column {
    border-top: 1px solid #D3D3D3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
}
.profile-item-title {
    font-weight: 500;
    font-size: .8rem;
    color: rgb(189,189,189);
}
.profile-item {
    margin-left: 30%;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(51,51,51);
}
#profile-pic {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .profile-box {
            border-radius: 0px;
    }
}
@media (max-width: 500px) {
    .profile-head-box {
        padding: 1.5rem .5rem;
    }
    .profile-column {
        padding: 1rem .5rem;
        justify-content: space-between;
    }
    .profile-item {
        text-align: right;
    }
}

@media (prefers-color-scheme: dark) {
    .profile-box {
        background-color: rgba(250,250,251);
    }
    .profile-main-head h1, .profile-main-head p{
        color: rgb(250,250,251);
    }
}